<parameters>

    <defaultRoute>/</defaultRoute>
    <accountConfirmationRequired>true</accountConfirmationRequired>
    <generateNewPasswordWhenForgot>false</generateNewPasswordWhenForgot>


    <template_login>AppBundle:user:login</template_login>
    <template_register>AppBundle:user:register</template_register>
    <template_forgot>AppBundle:user:forgot</template_forgot>
    <template_reset>AppBundle:user:reset</template_reset>


    <template_changePassword>AppBundle:user:changePassword</template_changePassword>
    <template_changeEmail>AppBundle:user:changeEmail</template_changeEmail>

    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->
    <!--<template_login></template_login>-->

</parameters>