<parameters>

    <!-- Parameters -->

    <siteName>Maison des Ligues de Lorraine</siteName>
    <defaultHomePageUrl>/home</defaultHomePageUrl>

    <form_Google_Private_Key>6LeFoi4UAAAAAH0Ko3pXluDB8lN9H6HhmJ8SvPHW</form_Google_Private_Key>
    <form_Google_Public_Key>6LeFoi4UAAAAAICa-aYKHN2I_pbIx9LLEWiU_Axz</form_Google_Public_Key>

    <email_SenderName>baptiste-theo.m2l.fr</email_SenderName>
    <email_SenderEmail>bvasseur77@gmail.com</email_SenderEmail>
    <email_SenderHost>smtp.gmail.com</email_SenderHost>
    <email_SenderPassword>fyrgrasemexahhur</email_SenderPassword>
    <email_SiteName>baptiste-theo.m2l.fr</email_SiteName>
    <email_Signature>Votre prince Baptiste</email_Signature>


    <site_maxJours>21</site_maxJours>
    <site_maxCredits>5000</site_maxCredits>

</parameters>